.additional {

  padding: 0px 20px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;

  &__title {
    position: relative;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: var(--basic_black);
    margin: 0px;
    margin-bottom: 46px;
  }

  &__title::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    top: 50%;
    left: 240px;
    background-color: var(--basic_green);
  }

  &__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--special_dark-grey-2);
    margin: 0px;
  }

  &__info,
  &__price {
    font-family: Arial;
    color: var(--special_dark-grey);
    font-size: 14px;
    line-height: 14px;
    margin: 0px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__gift {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 289px;
    width: 280px;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic_white);
    text-align: center;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-mobile@2x.jpg") no-repeat;
      background-size: contain;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--special_grey);
    margin-bottom: 11px;
  }

  &__item:last-child {
    margin-bottom: 40px;
  }

  &__btn {
    font-family: "Oswald", "Arial Narrow", sans-serif;
    max-width: 280px;
    width: 100%;
    text-align: center;
    color: var(--basic_white);
    text-transform: uppercase;
    background-color: var(--basic_green);
    line-height: 40px;
    font-size: 16px;
    border: none;
    margin: 0px auto;
    padding: 0px;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--basic_green-2);
  }

  &__btn:active {
    background-color: var(--basic_green-2);
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .additional {

    padding: 0px;
    margin-bottom: 76px;

    &__list {
      border: 1px solid var(--special_grey);
      padding: 27px 0px 0px;
      margin-bottom: 69px;
    }

    &__wrap {
      margin-top: 0px;
      margin-bottom: 24px;
    }

    &__title {
      padding-left: 35px;
      font-size: 36px;
      line-height: 36px;
      margin: 0px;
      margin-bottom: 80px;
    }

    &__title::after {
      left: 412px;
    }

    &__title::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 30px;
      top: 50%;
      left: -29px;
      background-color: var(--basic_green);
    }

    &__subtitle {
      font-size: 20px;
      line-height: 20px;
    }

    &__info,
    &__price {
      font-size: 16px;
      line-height: 20px;
    }

    &__info {
      margin-right: 50px;
    }

    &__item {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 37px 27px;
      margin-bottom: 26px;
    }

    &__item:last-child {
      border: none;
      // padding: 0px;
      margin: 0px;
    }

    &__btn {
      max-width: 100%;
    }

    &__gift {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
      height: 200px;
      width: 708px;

      @media (min-resolution: 2dppx) {
        background: url("../img/gift-photo-tablet@2x.jpg") no-repeat;
        background-size: contain;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .additional {

    // padding: 0px 110px;
    margin-bottom: 86px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
      padding: 0px;
      width: 100%;
      margin-bottom: 85px;
    }

    &__title::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 70px;
      top: 50%;
      left: -110px;
      background-color: var(--basic_green);
    }

    &__title::after {
      left: 373px;
    }

    &__list {
      border: none;
      padding: 0px;
      flex-grow: 1;
      margin: 0px;
      margin-right: 80px;

    }

    &__item, &__item:last-child {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--special_grey);
      padding: 0px;
      padding: 15px 0px;
      margin: 0px;
    }

    &__item:first-child {
      border-top: 1px solid var(--special_grey);
    }

    &__subtitle {
      padding: 0px;
      width: 290px;
    }

    &__btn {
      width: 244px;
      padding: 0px;
      margin: 0px;
    }

    &__wrap {
      padding: 0px;
      margin: 0px;
      width: 290px;
    }

    &__gift {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
      height: 289px;
      width: 245px;

      @media (min-resolution: 2dppx) {
        background: url("../img/gift-photo-desktop@2x.jpg") no-repeat;
        background-size: contain;
      }      
    }
  }
}
