.additional {

  padding: 0px 20px;
  margin-bottom: 35px;

  &__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: var(--basic_black);
  }

  &__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--special_dark-grey-2);
  }

  &__info,
  &__price {
    font-family: Arial;
    color: var(--special_dark-grey);
    font-size: 14px;
    line-height: 14px;
  }

  &__gift {
    position: relative;
    width: 280px;
    height: 289px;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic_white);
    text-align: center;
    padding-top: 188px;
  }

  &__slogan {
    display: block;
  }

  &__img {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__item:last-child {
    margin-bottom: 150px;
  }

}
