.catalog {

  // padding: 0px 20px;
  &__title--wrap {
    position: relative;
  }

  &__title--wrap::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100vw - 20px);
    top: 50%;
    left: 0;
    background-color: var(--basic_green);
  }
  
  &__title {
    position: relative;
    display: inline-block;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding: 25px 20px 40px;
    margin: 0px;
    border-top: 1px solid var(--special_light-grey-2);
  }

  &__list {
    .grid();
    padding: 0px;
  }

  &__item {
    .col-1;
    margin: 0 10px 8px;
    padding: 0px 20px 22px;
    border-bottom: 1px solid var(--special_grey-2);
  }

  &__wrap {
    display: flex;
  }

  &__subtitle {
    width: 80px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--special_dark-grey-2);
    font-weight: normal;
  }


  &__value {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }

  &__info,
  &__number {
    font-family: Arial;
    color: var(--special_dark-grey);
    font-size: 12px;
    line-height: 16px;
  }

  &__btn {
    display: block;
    font-family: "Oswald", "Arial Narrow", sans-serif;
    max-width: 280px;
    width: 100%;
    text-align: center;
    color: var(--basic_white);
    text-transform: uppercase;
    background-color: var(--basic_green);
    line-height: 40px;
    font-size: 16px;
    border: none;
    margin: 0px auto;
    padding: 0px;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--basic_green-2);
  }

  &__btn:active {
    background-color: var(--basic_green-2);
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {

  .catalog {

    padding: 0px 30px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 0px;
      margin: 0px;
      margin-bottom: 164px;
      border: none;
    }

    &__title--wrap::after {
      width: 100vw;
      left: -70px;
    }

    &__list {
      margin: 0 -30px -148px;
    //   flex-direction: row;
    //   flex-wrap: wrap;
    //   padding: 0px 30px;
      padding-bottom: 70px;
    }

    &__wrap {
      padding-top: 161px;
      justify-content: center;
      margin-bottom: 18px;
    }

    &__subtitle {
      margin: 0px auto 21px;
      font-size: 20px;
      line-height: 24px;
      width: 150px;
      text-align: center;
    }

    &__item {
      .col-2;
      position: relative;
      padding: 0px;
      margin: 0 30px 140px;
      border: none;
      background: var(--basic_grey);
    }

    &__img {
      position: absolute;
      bottom: 305px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__values {
      width: 100%;
      padding: 0px 36px;
    }

    &__value {
      width: 100%;
      padding-bottom: 8px;
      margin-bottom: 7px;
      border-bottom: 1px solid var(--special_grey);
    }

    &__info,
    &__number {
      font-size: 16px;
  }

    &__btn {
      width: 248px;
      margin-bottom: 40px;
    }
  }
}

// @media (min-width: 1160px) {
//   .catalog {
//     &__item {
//       .col-3;
//     }
//   }
// }

@media (min-width: @desktop-width) {

  .catalog {

    padding: 0px 110px;

    &__title--wrap::after {
      width: 100vw;
      left: -110px;
    }

    &__list {
      margin: 0 -40px -144px;
      padding-bottom: 75px;
      // padding-left: 110px;
    }

    &__item {
      .col-4;
      margin: 0 40px 140px;
    }

    &__btn {
      width: 168px;
    }
  }
}

// @media (min-width: 1660px) {
//   .catalog {

//     &__item {
//       .col-5
//     }
//   }
// }
