.catalog {

  &__list {
    padding: 0px;
    margin: 0px;
  }

  &__item {
    padding: 0px 20px 25px;
    border-bottom: 1px solid var(--special_grey-2);
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--special_dark-grey-2);
    font-weight: normal;
  }

  &__info,
  &__number {
    font-family: Arial;
    color: var(--special_dark-grey);
    font-size: 12px;
    line-height: 16px;
  }

  &_btn {
    font-family: "Oswald", "Arial Narrow", sans-serif;
    width: 280px;
    text-align: center;
    color: var(--basic_white);
    text-transform: uppercase;
    background-color: var(--basic_green);
    line-height: 40px;
    font-size: 16px;
    border: none;
  }
}
