.example {

  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px 115px;
  // margin-bottom: 28px;
  background-color: var(--special_light-grey);

  &__title {
    font-size: 36px;
    line-height: 40px;
    color: var(--basic_black);
    font-weight: normal;
    margin: 0px;
    margin-bottom: 33px;
  }

  &__stats {
    display: flex;
    margin: 0px;
    margin-bottom: 35px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    width: 124px;
    text-align: center;
    padding: 15px 0px 18px;
    border: 1px solid var(--special_grey);
    border-radius: 5%;
  }

  &__item--weight {
    margin-right: auto;
  }

  &__item--time {
    // margin-right: auto;
  }

  &__text {
    font-family: Arial;
    margin: 0px;
    margin-bottom: 25px;
  }

  &__dt {
    font-size: 24px;
    line-height: 24px;
    color: var(--basic_black);
    text-transform: uppercase;
  }

  &__dd {
    z-index: 2;
    background-color: var(--special_light-grey);
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 10px;
    font-family: Arial;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
  }

  &__info {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--basic_black);
    text-align: center;
    margin: 30px auto 0px;
  }

  &__img--after {
    display: none;
  }
}

@media (min-width: @tablet-width) {

  .example {

    padding: 40px 30px 200px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 67px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }

    &__item--time {
      margin-right: auto;
    }

    &__info {
      flex-direction: column;
      // width: 175px;
      font-size: 20px;
      line-height: 20px;
      text-align: right;
      align-self: center;
      margin: 0px;
      // margin: 0 auto;
    }

    &__item {
      width: 162px;
      padding: 15px 0px 20px;
    }

    &__item--weight {
      margin-right: 42px;
    }

    &__dt {
      font-size: 30px;
      line-height: 37px;
    }

    &__dd {
      font-size: 14px;
      line-height: 14px;
      top: 65px;
    }
  }
}

@media (min-width: @desktop-width) {

  .example {

    padding: 0px 110px 43px;
    justify-content: space-between;
    // margin-bottom: 75px;

    &__title {
      padding-top: 54px;
      margin-bottom: 146px;
    }

    &__text {
      margin-bottom: 69px;
    }

    &__desc {
      width: 35%;
    }

    &__toggle {
      width: 50%;
    }

    &__info {
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      text-align: left;
      margin: 55px 0px 0px;
    }
  }
}
