.example {

  padding: 30px 20px 39px;
  margin-bottom: 28px;
  background-color: var(--special_light-grey);

  &__title {
    font-size: 36px;
    line-height: 40px;
    color: var(--basic_black);
    font-weight: normal;
  }

  &__text {
    font-family: Arial;
  }

  &__dt {
    font-size: 24px;
    line-height: 24px;
    color: var(--basic_black);
  }

  &__dd {
    font-family: Arial;
    font-size: 12px;
    line-height: 12px;
  }

  &__info {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--basic_black);
  }

}
