.features {
  margin-bottom: 42px;
  padding: 0 20px;

  &__list {
    margin: 0px;
    padding: 0px;
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    color: var(--basic_black);
    font-weight: normal;
  }

  &__item {
    font-family: Arial;
  }
}
