.features {
  margin-bottom: 42px;
  padding: 0 20px;

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    color: var(--basic_black);
    font-weight: normal;
    margin: 0;
    margin-bottom: 38px;
  }

  &__item {
    display: flex;
    font-family: "Arial", "Arial Narrow", sans-serif;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  &__text {
    width: 70%;
  }

  &__leaf {
    background: url("../img/advantage-leaf@1x.png") no-repeat center var(--basic_green);
  }

  &__powder {
    background: url("../img/advantage-powder@1x.png") no-repeat center var(--basic_green);
  }

  &__dining {
    background: url("../img/advantage-dining@1x.png") no-repeat center var(--basic_green);
  }

  &__clock {
    background: url("../img/advantage-clock@1x.png") no-repeat center var(--basic_green);
  }
}

@media (min-width: @tablet-width) {
  .features {
    padding: 0 30px;
    padding-bottom: 82px;
    margin: 0;
    border-bottom: 1px solid var(--light_grey);

    &__list {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 113px;
      grid-column-gap: 60px;
    }

    &__title {
      font-size: 60px;
      margin-bottom: 83px;
    }

    &__item {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__img {
      height: 80px;
      width: 80px;
      margin-bottom: 32px;
    }

    &__leaf::after,
    &__clock::after,
    &__dining::after,
    &__powder::after {
      position: absolute;
      font-size: 280px;
      color: var(--basic_grey);
      z-index: -1;
      top: 88px;
      left: 120px;
      font-family: "Oswald", "Arial Narrow", sans-serif;
    }

    &__leaf::after {
      content: "1";
    }

    &__powder::after {
      content: "2";
    }

    &__dining::after {
      content: "3";
    }

    &__clock::after {
      content: "4";
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    padding: 0 110px;
    margin-bottom: 70px;
    border: none;

    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 94px;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__text {
      width: auto;
    }
  }
}
