.footer {

  // margin-bottom: 21px;

  &__address {
    padding: 28px 23px 32px 19px;
    display: flex;
    justify-content: space-between;
  }

  &__address--bg {
    background-color: var(--basic_grey);
  }

  &__address-slogan {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic_black);
  }

  &__address-info {
    font-family: Arial;
  }

  &__map {
    max-width: 100%;
    background: url("../img/bg-map-mobile@1x.png") no-repeat;
    background-position: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 20px;
    background-color: var(--basic_grey);
  }

  &__logo {
    width: 100%;
    text-align: center;
    padding-bottom: 26px;
    border-bottom: 1px solid var(--special_light-grey-2);
    margin-bottom: 14px;
  }

  &__logo:hover {
    opacity: 0.8;
  }

  &__logo:active {
    opacity: 0.6;
  }

  &__social {
    display: flex;
    padding: 0px;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--special_light-grey-2);
    margin-bottom: 20px;
    width: 100%;
  }

  &__social--insta:hover path,
  &__social--vk:hover path {
    fill: #68B738;
  }

  &__social--fb:hover path {
    stroke: #68B738;
  }

  &__social--insta:active path,
  &__social--vk:active path,
  &__social--fb:active path {
    opacity: 0.3;
  }

  &__copywrite {
    width: 281px;
    display: flex;
    justify-content: space-between;
  }

  &__text:hover + &__logo--academy path {
    fill: #68B738;
  }

  &__text:active + &__logo--academy path,
  &__text:active {
    opacity: 0.3;
  }

  &__text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-size: 16px;
    align-self: center;
  }

}

@media (min-width: @tablet-width) {

  .footer {

    &__address {
      padding: 70px 75px 60px 70px;
      margin: 0px;
    }

    &__address-slogan {
      font-size: 20px;
      line-height: 21px;
    }

    &__address-info {
      display: block;
      text-align: right;
      font-size: 16px;
      line-height: 20px;
    }

    &__address-street {
      margin-bottom: 12px;
    }

    &__map {
      height: 400px;
      background: url("../img/bg-map-tablet@1x.png") no-repeat;
      background-position: center;
    }

    &__wrap {
      padding: 52px 30px 61px 0px;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    &__logo,
    &__social {
      width: 30%;
      border: none;
      margin: 0px;
      padding: 0px;
    }

    &__social--vk {
      width: 30px;
    }

    &__copywrite {
      width: 163px;
    }
  }
}

@media (min-width: @desktop-width) {

  .footer {
    position: relative;

    &__address {
      position: absolute;
      height: 201px;
      width: 570px;
      background-color: var(--basic_white);
      top: 95px;
      left: 110px;
      padding-left: 76px;
      padding-right: 90px;
    }

    &__address--bg {
      background-color: var(--basic_white);
    }

    &__address-info {
      text-align: left;
    }

    &__wrap {
      padding: 57px 110px;
    }

    &__map {
      background: url("../img/bg-map-desktop@1x.png") no-repeat;
      background-position: center;
    }

    &__logo,
    &__social {
      width: 15%;
    }
  }
}
