.footer {

  // margin-bottom: 21px;

  &__address {
    padding: 28px 19px 22px;
    display: flex;
    justify-content: space-between;
    // background-color: var(--basic_grey);
  }

  &__address-slogan {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic_black);
  }

  &__address-info {
    font-family: Arial;
  }

  &__map {
    max-width: 100%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: var(--basic_grey);
  }

  &__logo {
    width: 100%;
    text-align: center;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--special_light-grey-2);
    margin-bottom: 20px;
  }

  &__logo:hover {
    opacity: 0.8;
  }

  &__logo:active {
    opacity: 0.6;
  }

  &__social {
    display: flex;
    padding: 0px;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--special_light-grey-2);
    margin-bottom: 20px;
    width: 100%;
  }

  &__social--insta:hover path,
  &__social--vk:hover path {
    fill: #68B738;
  }

  &__social--fb:hover path {
    stroke: #68B738;
  }

  &__social--insta:active path,
  &__social--vk:active path,
  &__social--fb:active path {
    opacity: 0.3;
  }

  &__copywrite {
    width: 281px;
    display: flex;
    justify-content: space-between;
  }

  &__text:hover + &__logo--academy path {
    fill: #68B738;
  }

  &__text:active + &__logo--academy path,
  &__text:active {
    opacity: 0.3;
  }

  &__text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-size: 16px;
    align-self: center;
  }

}

@media (min-width: @tablet-width) {

  .footer {

    &__address {
      padding: 66px 72px 55px 71px;
    }

    &__map {
      height: 400px;
      // margin-bottom: 55px;
    }

    &__wrap {
      padding: 55px 30px 61px;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    &__logo,
    &__social {
      width: 30%;
      border: none;
      margin: 0px;
      padding: 0px;
    }

    &__copywrite {
      width: 163px;
    }
  }
}

@media (min-width: @desktop-width) {

  .footer {
    position: relative;

    &__address {
      position: absolute;
      height: 201px;
      width: 570px;
      background-color: var(--basic_white);
      top: 95px;
      left: 110px;
    }

    &__wrap {
      padding: 57px 110px;
    }

    &__logo,
    &__social {
      width: 15%;
    }
  }
}
