.header {

  &__wrap {
  // position: relative;
  // z-index: 1;
  padding-top: 11px;
  // background: var(--basic_white);
  }

  &__logo {
    padding: 24px 20px 0px;
  }
  
  &__logo:hover,
  &__logo:focus {
    opacity: 0.8;
  }

  &__logo:active {
    opacity: 0.6;
  }

  &__logo--mobile {
    margin-bottom: 15px;
  }
}

@media (min-width: @tablet-width) {

  .header {

    &__wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 38px;
      padding: 0px 30px;
    }

    &__logo {
      padding: 24px 0px 0px;
    }

  }
}

@media (min-width: @desktop-width) {

  .header {

    &__wrap {
      // z-index: -1;
      // padding-top: 11px;
      padding: 0 110px;
      margin-bottom: 85px;
    }

  }
}

@media (min-width: @desktop-width) {

  .header--main {
    background: url("../img/index-background-desktop@1x.jpg") no-repeat top right;
    background-size: 50% auto;
    margin-bottom: 82px;

    @media (min-resolution: 2dppx) {
      background: url("../img/index-background-desktop@2x.jpg") no-repeat top right;
      background-size: 50% auto;
    }
  }
}
