.order {
  margin-bottom: 35px;

  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding: 30px 20px 40px;
    margin-bottom: 8px;
    border-top: 1px solid var(--special_light-grey-2);
  }

  &__wrap, &__wrap--btn {
    border: none;
    padding: 0px 20px;
    margin: 0px;
    margin-bottom: 30px;
  }

  &__wrap--cat {
    display: flex;
    flex-direction: column;
  }

  &__wrap--btn {
    display: flex;
    flex-direction: column;
  }

  &__wrap--border,
  &__wrap--frame {
    border-bottom: 1px solid var(--special_light-grey-2);
    padding-bottom: 20px;
  }

  &__list {
    padding: 0px;
    margin: 0px;
  }

  &__list--contact {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-bottom: 13px;
  }

  // &__subtitle--wrap {
  //   position: relative;
  //   margin-bottom: 30px;
  // }

  // &__subtitle {
  //   // position: relative;
  //   display: inline-block;
  //   font-size: 24px;
  //   line-height: 26px;
  //   background-color: var(--basic_white);
  //   padding-right: 20px;
  //   z-index: 2;
  //   font-weight: normal;
  // }

  // &__subtitle--wrap::before {
  //   position: absolute;
  //   content: "";
  //   height: 2px;
  //   width: 100%;
  //   top: 50%;
  //   left: 0px;
  //   background-color: var(--basic_green);
  //   z-index: 1;
  // }

  &__subtitle--wrap {
    position: relative;
    margin-bottom: 30px;
  }

  &__subtitle--wrap::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: var(--basic_green);
  }

  &__subtitle {
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    background-color: var(--basic_white);
    padding-right: 20px;
    z-index: 1;
    font-weight: normal;
  }


  &__text {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 39px;
    padding: 0px 20px;
  }

  &__label{
    align-self: center;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special_dark-grey);
    margin-right: 15px;
  }

  &__input {
    display: block;
    flex-grow: 1;
    min-width: 150px;
    max-width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special_dark-grey);
    padding: 13px 15px 15px;
    cursor: pointer;
    border: 1px solid var(--extra_light_grey);
  }

  &__item--email {
    position: relative;
  }

  &__svg--email {
    position: absolute;
    content: "";
    width: 18px;
    height: 13px;
    right: 15px;
    top: 18px;
  }

  &__input:invalid + &__svg--email {
    fill: var(--status_error);
  }

  &__input:active + &__svg--email,
  &__input:focus + &__svg--email {
    fill: var(--basic_green);
  }

  &__item--tel {
    position: relative;
  }

  &__svg--tel {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 12px;
    top: 15px;
  }

  &__input:invalid + &__svg--tel {
    fill: var(--status_error);
  }

  &__input:active + &__svg--tel,
  &__input:focus + &__svg--tel {
    fill: var(--basic_green);
  }

  &__input:hover {
    border: 1px solid var(--special_grey);
  }

  &__input:active,
  &__input:focus {
    border: 2px solid var(--special_dark-grey);
    outline: none;
    padding: 13px 15px 13px;
  }

  &__input:invalid {
    border: 2px solid var(--status_error);
    padding: 13px 15px 13px;

  }

  &__input::placeholder,
  &__textarea::placeholder {
    font-family: "Oswald", "Arial Narrow", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special_dark-grey);
  }

  &__radio--label,
  &__checkbox--label {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 45px;
  }

  &__radio + &__radio--label::before {
    position: absolute;
    top: -4px;
    left: 0px;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--special_grey);
    cursor: pointer;
  }

  &__radio:checked + label::after {
    position: absolute;
    top: 4px;
    left: 8px;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--basic_green);
    border-radius: 50%;
    cursor: pointer;
  }

  &__radio:hover + &__radio--label::before,
  &__radio:focus + &__radio--label::before {
    border: 1px solid var(--dark_grey);
  }

  &__radio:disabled + &__radio--label::before,
  &__radio:disabled + &__radio--label::after,
  &__radio:disabled + &__radio--label {
    opacity: 0.3;
  }

  &__checkbox + &__checkbox--label::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -3px;
    left: 0px;
    border: 1px solid var(--special_grey);
    cursor: pointer;
  }

  &__checkbox:checked + &__checkbox--label::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      top: -3px;
      left: 0px;
      border: 1px solid var(--special_grey);
      background: url("../img/tick.svg") no-repeat center;
  }

  &__checkbox:hover + &__checkbox--label::before,
  &__checkbox:focus + &__checkbox--label::before {
    border: 1px solid var(--dark_grey);
  }

  &__checkbox:disabled + &__checkbox--label::before,
  &__checkbox:disabled + &__checkbox--label::after,
  &__checkbox:disabled + &__checkbox--label {
    opacity: 0.3;
  }

  &__textarea {
    width: 100%;
    padding: 13px;
  }

  &__btn {
    font-family: "Oswald", "Arial Narrow", sans-serif;
    width: 100%;
    text-align: center;
    color: var(--basic_white);
    text-transform: uppercase;
    background-color: var(--basic_green);
    line-height: 40px;
    font-size: 16px;
    border: none;
    margin-bottom: 23px;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--basic_green-2);
  }

  &__btn:active {
    background-color: var(--basic_green-2);
    color: rgba(255, 255, 255, 0.3);
  }

  &__info {
    display: block;
    font-family: Arial;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {

  .order {
    margin-bottom: 72px;

    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 0px 30px;
      margin: 0px;
      margin-bottom: 54px;
      border: none;
    }

    &__text {
      font-size: 20px;
      line-height: 30px;
      padding: 0px 70px;

      margin-bottom: 66px;
    }

    &__list {
      margin-bottom: 70px;
    }

    &__list--extra {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    &__item--extra {
      width: 50%;
    }

    &__wrap {
      padding: 0px 70px;
    }

    &__wrap--border {
      border: none;
    }

    &__wrap--btn {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 70px;
    }

    &__btn {
      display: block;
      width: 282px;
      font-size: 20px;
      line-height: 52px;
    }

    &__info {
      text-align: left;
      width: 50%;
      font-size: 16px;
    }

    &__list--frame {
      border: 1px solid var(--special_light-grey-2);
      padding: 25px;
    }

    &__label,
    &__input,
    &__input::placeholder,
    &__textarea::placeholder,
    &__radio--label,
    &__checkbox--label {
      font-size: 20px;
      line-height: 30px;
    }

    &__subtitle {
      margin-bottom: 70px;
      font-size: 36px;
    }

    &__textarea {
      min-height: 174px;
    }
  }
}

@media (min-width: @desktop-width) {

  .order {
    margin-bottom: 82px;

    &__title {
      padding: 0px 110px;
      margin-bottom: 56px;
    }

    &__text {
      padding: 0px 110px;
      margin-bottom: 66px;
    }

    &__wrap, &__wrap--btn {
      padding: 0px 110px;
      margin-bottom: 70px;
    }

    &__wrap--cat {
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 110px;
    }

    &__wrap--border {
      padding: 0px;
      width: 45%;
    }

    &__list--contact {
      flex-direction: row;
      justify-content: space-between;
    }

    &__input {
      height: 50px;
    }

    &__item--contact {
      width: 45%;
    }

    &__item--extra {
      width: 25%;
    }

    &__btn {
      width: 568px;
    }

    &__info {
      display: none;
    }
  }
}
