.program {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0px 20px;

  &__wrap {
    background-color: var(--basic_grey);
    padding: 30px 33px 18px 19px;
  }

  &__wrap:not(:last-child) {
    margin-bottom: 20px;
  }

  &__title {
    position: relative;
    padding-left: 70px;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--basic_black);
    font-weight: normal;
  }

  &__title--slim::before {
    content: "";
    left: 0px;
    top: -7px;
    height: 53px;
    width: 50px;
    position: absolute;
    background: url("../img/icon-cat-slim.svg") no-repeat;
  }

  &__title--pro::before {
    content: "";
    left: -7px;
    top: -7px;
    height: 50px;
    width: 67px;
    position: absolute;
    background: url("../img/icon-cat-pro.svg") no-repeat;
  }

  &__text {
    font-family: Arial;
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--basic_black);
  }

  &__link::after {
    content: "";
    left: 100px;
    height: 50px;
    width: 67px;
    position: absolute;
    background: url("../img/icon_arrow.svg") no-repeat;
  }

  &__link:hover::after {
    content: "";
    left: 100px;
    height: 50px;
    width: 67px;
    position: absolute;
    background: url("../img/icon_arrow-long.svg") no-repeat;
  }

  &__link:active::after,
  &__link:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {

  .program {
    margin-bottom: 45px;
    padding: 0px 30px;

    &__wrap {
      padding: 77px 62px 55px 52px;
    }

    &__wrap:not(:last-child) {
      margin-bottom: 30px;
    }

    &__title {
      padding: 0px;
      font-size: 36px;
    }

    &__title--slim::before {
      display: none;
    }

    &__title--pro::before {
      display: none;
    }

    &__link::after,
    &__link:hover::after {
      left: 120px;
    }


    &__text {
      width: 60%;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }

    &__link {
      font-size: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 70px;
    padding: 0px 110px;

    &__title {
      padding-left: 162px;
      margin-bottom: 73px;
    }

    &__text {
      width: 100%;
    }

    &__wrap {
      padding: 41px 51px 55px 52px;
    }

    &__wrap:not(:last-child) {
      margin-bottom: 0px;
    }

    &__wrap:nth-child(odd) {
      margin-right: 80px;
    }
  }
}
