.program {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0px 20px;

  &__wrap {
    background-color: var(--basic_grey);
    padding: 30px 33px 18px 19px;
  }

  &__wrap:not(:last-child) {
    margin-bottom: 20px;
  }

  &__title {
    position: relative;
    padding-left: 70px;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--basic_black);
    font-weight: normal;
    margin: 0px;
    margin-bottom: 30px;
  }

  &__img--slim {
    left: 0px;
    top: -7px;
    height: 53px;
    width: 50px;
    position: absolute;
  }

  &__img--pro {
    left: -7px;
    top: -7px;
    height: 50px;
    width: 67px;
    position: absolute;
  }

  &__text {
    font-family: Arial;
    margin: 0px;
    margin-bottom: 43px;
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--basic_black);
  }

  &__link::after {
    content: "";
    left: 100px;
    height: 50px;
    width: 67px;
    position: absolute;
    background: url("../img/icon_arrow.svg") no-repeat;
  }

  &__link:hover::after {
    content: "";
    left: 100px;
    height: 50px;
    width: 67px;
    position: absolute;
    background: url("../img/icon_arrow-long.svg") no-repeat;
  }

  &__link:active::after,
  &__link:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {

  .program {
    margin-bottom: 55px;
    padding: 0px 30px;

    &__wrap {
      padding: 72px 62px 59px 52px;
    }

    &__wrap:not(:last-child) {
      margin-bottom: 34px;
    }

    &__title {
      padding: 0px;
      font-size: 36px;
      margin-bottom: 28px;
    }

    &__img--slim {
      width: 200px;
      height: 211px;
      left: 400px;
    }

    &__img--pro {
      width: 268px;
      height: 200px;
      left: 365px;
    }

    &__link::after,
    &__link:hover::after {
      left: 133px;
    }

    &__text {
      width: 55%;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 56px;
    }

    &__link {
      font-size: 20px;
    }
  }
}

@media (min-width: 880px) {
  .program {

    &__img--slim {
      left: 500px;
    }

    &__img--pro {
      left: 465px;
    }
  }
}

@media (min-width: 1070px) {
  .program {

    &__img--slim {
      left: 700px;
    }

    &__img--pro {
      left: 665px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 82px;
    padding: 0px 110px;

    &__title {
      padding-left: 162px;
      margin-bottom: 73px;
      padding-top: 35px;
    }

    &__text {
      width: 100%;
      margin-bottom: 34px;
    }

    &__wrap {
      padding: 41px 51px 60px 52px;
      width: 47%;
    }

    &__wrap:not(:last-child) {
      margin-bottom: 0px;
    }

    &__img--slim {
      width: 100px;
      height: 106px;
      left: 0px;
    }

    &__img--pro {
      width: 268px;
      height: 100px;
      left: -85px;
    }
  }
}
