.show-more {

  padding: 0px 20px 25px;
  border-bottom: 1px solid var(--special_grey-2);
  margin-bottom: 30px;

  &__title {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--extra_dark_grey);
    margin-bottom: 10px;
  }

  &__info {
    display: block;
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--special_dark-grey);
    margin-bottom: 23px;
  }

  &__btn {
    display: block;
    width: 280px;
    text-align: center;
    color: var(--special_dark-grey);
    text-transform: uppercase;
    background-color: var(--basic_grey);
    line-height: 40px;
    font-size: 16px;
  }
}
