@import "normalize.less";
@import "nav.less";
@import "index-info.less";
@import "program.less";
@import "features.less";
@import "example.less";
@import "footer.less";
@import "header.less";
@import "catalog.less";
@import "show-more.less";
@import "additional.less";
@import "order.less";

/* Variables */

:root {
  --basic_green: #68b738;
  --basic_grey: #f2f2f2;
  --special_grey-2: #ebebeb;
  --special_grey: #cdcdcd;
  --special_grey-3: #666666;
  --special_light-grey: #eaeaea;
  --special_light-grey-2: #d9d9d9;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --extra_dark_grey: #111111;
  --status_error: #ff8282;
  --basic_green-2: #5eaa2f;
  --basic_black: #000000;
  --basic_white: #ffffff;
  --light_grey: #e6e6e6;
  --dark_grey: #bababa;
  --extra_dark_grey: #dcdcdc;
  --extra_light_grey: #e7e7e7;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

//Grid

.grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -10px;
}

.col-1 {
  width: calc(100% - 20px);
}

.col-2 {
  width: calc(50% - 60px);
}

.col-3 {
  width: calc(33.333333% - 50px);
}

.col-4 {
  width: calc(25% - 80px);
}

.col-5 {
  width: calc(20% - 120px);
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic_black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
